@tailwind base;
@tailwind components;
@tailwind utilities;

/*Fonts*/
body {
  font-family: var(--font-rubik);
}
.nunitoFont {
  font-family: var(--font-nunito);
}

/*Text*/
.textYellow {
  color: #FFB800
}
.text-active:active {
  color: #FFB800
}

/*Border*/
.borderNewYellow {
  border-color: #FFB800;
}

/*Background*/
.bgNewYellow {
  background-color: #FFB800;
}
.bgGradientBlack {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 80%);
  position: absolute;
  top: 0;
}
.bgGradientBlackHover {
  position: absolute;
  left: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.bgGradientBlackDesign {
  width: 100%;
  height: 30%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  bottom: 0;
}

/*Transition*/
.newTransition {
  transition: all .5s ease-in-out;
}

/*Grid*/
.gridTemplate {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/*Skills*/
.boxSkill {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Box Shadow*/
.inputsShadow {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}


@media (max-width: 640px) {
  .sm\\:text-sm {
    font-size: 12px;
  }
}